# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#vs temporary files
/.vs
/ActiveWarSimulation/Debug
/ActiveWarSimulation/ipch
/ActiveWarSimulation/Release
/ActiveWarSimulation/packages
/ActiveWarSimulation/.vs
/ActiveWarSimulation/ActiveWarSimulation.sdf
/ActiveWarSimulation/ActiveWarSimulation/Debug
/ActiveWarSimulation/ActiveWarSimulation/Release
/ActiveWarSimulation/ActiveWarSimulation/SaveData
/ActiveWarSimulation/ActiveWarSimulation/Graphic
/ActiveWarSimulation/ActiveWarSimulation/Sound
/ActiveWarSimulation/ActiveWarSimulation/Log.txt
/ActiveWarSimulation/FieldBase/Debug
/ActiveWarSimulation/FieldBase/Release
/ActiveWarSimulation/FieldBase/SaveData
/ActiveWarSimulation/FieldBase/Log.txt
/ActiveWarSimulation/StageEditor/Debug
/ActiveWarSimulation/StageEditor/Release
/ActiveWarSimulation/StageEditor/SaveData
/ActiveWarSimulation/StageEditor/Log.txt
/ActiveWarSimulation/shinntyoku
/ActiveWarSimulation/document


#exclude by file type
*.tlog
*.opensdf
*.suo
*.exe
*.ilk
*.pdb
*.sdf
*.obj
*.log
*.idb
*.ipch
*.db
*.png
*.ogg
